# 프로젝트 이름
- 학번 : 30401
- 이름 : 김동하

## 1. 주제
- 질문 

## 2. 데이터 수집
- 데이터 수집 방법 : 웹크롤링
- 데이터 수집 사이트 : https://www.op.gg/champion/statistics

In [1]:
# 데이터 가져오기
import pandas as pd
df = pd.read_csv('LOL_info.csv')

## 3. 탐색적 데이터 분석 과정

#### 표를 활용하여 분석하기

In [2]:
# pandas 활용
df.head(3)

  챔피언 이름  챔피언 영어 이름     포지션     픽률      승률
0     가렌      garen     Top  3.63%  49.61%
1    갈리오      galio  Middle   5.9%  53.05%
2   갱플랭크  gangplank     Top   4.1%  49.63%

#### 그래프를 활용하여 분석하기

In [ ]:
# matplotlib, seaborn 등 활용

# 자살률이 높은 국가 그래프, 연도 그래프, 연령 그래프
import pandas as pd # pandas를 pd라는 이름으로 사용
import matplotlib.pyplot as plt # matplotlib.pyplot를 plt라는 이름으로  사용
from pandas import Series, DataFrame

df = pd.read_csv('master.csv') # master.csv파일 불러오기


df_country = {}
country_name = [0 for i in range(101)] # 나라 이름들을 담는 리스트
country_amount = [0 for i in range(101)] # 한 나라의 값을 가지고 있는 데이터의 개수를 담는 리스트
cnt = 0
temp = 'Albania'


for i in df['country']:
    if i== temp:
        country_amount[cnt] += 1
    else:
        country_name[cnt] = temp
        cnt += 1
        temp = i
country_name[cnt] = temp


for i in range(101):
    df_country[country_name[i]] = country_amount[i]
cnt = 0
for y, v in sorted(df_country.items(), key=lambda x:x[1], reverse = True):
    country_name[cnt] = y
    country_amount[cnt] = v
    cnt+=1
country_name = country_name[0:10]
country_amount = country_amount[0:10]
print(country_name)
print(country_amount)

plt.bar(country_name, country_amount, width=0.6)
plt.xticks(rotation = -45)
plt.ylim([310, 400])
plt.yticks([350, 360, 370, 380, 390, 400])

## 4. 결론
- 질문에 대한 답